# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual Environment
env/
venv/
.env/

# Django
*.log
db.sqlite3
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Sublime Text
*.sublime-workspace
*.sublime-project
