<!DOCTYPE html>
<html lang="en"> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>LyricsLab | {{ view_name }}</title>

{% load static %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'  %}">
  <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css'  %}">
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
  <script src="{% static 'js/vue.global.js'  %}"></script>

  <script>
     const { createApp } = Vue;
  </script>
</head>

<body>

    {% block bodycontent %}
    <small>body content loads here...</small>
    {% endblock %}

</body>

</html>