{% extends "headers/base.html" %}

{% block bodycontent %}

<style>
  .txt-lighter{
    color: #6d6e75;
  }
  .txt-light{
    color: #9a9a9a;
  }
  .c-pointer{ cursor: pointer;}

   
  /*#btnCancel,
  #btnUploader { 
  }*/
 [item-hidden="true"]{
  display: none !important;
  }
 [item-hidden="false"]{
  display: block !important;
  opacity: 0;  
  animation:loadSlide 0.9s ease-in-out 0.1s 1 normal forwards; 
  }
  @keyframes loadSlide {
      0%{
        opacity: 0;  
      }
      100%{
        opacity: 1; 
      }
  }

  
   
  [obj-hidden="true"]{ 
     display: block;
     width: 100%;
     margin-left: 0px; 
     margin-top: 0px;
     opacity: 1;
     animation: hide 0.9s ease-in-out 0.0s 1 normal forwards; 
   }
   @keyframes hide {
      0% {
          margin-left: 0px;
          margin-top: 0px;
          opacity: 1;
      }
      100% {
        margin-left:-50px;
        margin-top: 50px;
        opacity: 0;
      }
  }
   [obj-hidden="false"]{
     display: block;
     width: 100%;
     margin-left: -50px; 
     margin-top: -30px;
     opacity: 0;
     animation: reveal 0.9s ease-in-out 0.1s 1 normal forwards; 
  }
  [obj-hidden='none']{
    display: none;
  }

  @keyframes reveal {
    0% {
        margin-left:-50px;
        margin-top: -30px;
        opacity: 0;
      }
      100% {
          margin-left: 0px;
          margin-top: 0px;
          opacity: 1;
      }
  }
  
  

  #btnFileSelector:hover,
  #btnFileViewer:hover  {
    background-color: #fafafa !important;
  }
  #btnFileSelector:active,
  #btnFileViewer:active {
    background-color: #efefef !important;
  }
  .border-bx{
    padding: 1rem;
    width: 100%;
    background:linear-gradient(to right, #ffab4b, #f45872, #a94a8c) !important;
    padding: 3px;
  }
  .border-bx .content-bx{
    background-color: #fff;
  }
  .border-bx .content-bx .bi{
      color: #f45872;
  }

</style>
    <div class="uploadbx mt-5 pt-2" id="viewApp">
       <div class="container col-12 div col-lg-5 p-5 mt-5">
           <div class="header mt-3" align="center">
            <h2 class="title display-5 fw-semibold">Upload file.</h2>
            <p class="desc-text lead fw-semibold txt-light opacity-80 w-75 mt-3">Select and upload and audio and video file to genrate lyrics automaticaly using Ai.</p>
           </div>
           
           <input type="file" name="fileObj" id="fileObj" item-hidden="true" class="form-control" placeholder="file here..." ref="fileObj" @change="onMediaFileSelection" value="" />

   
           <div class="btnFileSelector" :obj-hidden="mediaFileUploaded" v-if="mediaFileUploaded == false">
           <div id="btnFileSelector"  @click="toggleFilePicker" class="file-selector c-pointer mt-4 w-70 mx-auto mx-1 p-0 d-flex justify-content-start align-items-stretch gap-0 no-wrap rounded rounded-3 border border-2">
           <div class="d-block w-auto p-4 d-flex justify-content-center align-items-center">
           <span class="bi bi-upload fs-4"></span>
           </div>
            <div class="d-flex w-auto flex-column p-3 ps-0 justify-content-center align-items-start gap-0">
            <span class="title fw-bold fs-5">Click to Select a Media File</span>
            <span class="desc-text fw-semibold txt-lighter opacity-80 fs-6 small">Select a .mp4 or .mp3 file to upload by clicking here... </span>
            </div>
           </div>
           </div>

           <div class="btnFileViewer" :obj-hidden="!mediaFileUploaded" v-else>
            <div id="btnFileViewer" class="file-viewer c-pointer mt-5 w-70 border-bx rounded rounded-3">
             <div class="content-bx mx-auto mx-1 p-0 d-flex justify-content-start align-items-stretch gap-0 no-wrap rounded rounded-3">
               <div class="d-block w-auto p-4 d-flex justify-content-center align-items-center">
               <span class="bi bi-file-play fs-3"></span>
                </div>
            <div class="d-flex w-auto flex-column p-3 ps-0 justify-content-center align-items-start gap-0">
            <span class="title fw-bold fs-5">${mediaObj.files[0].name}</span>
            <span class="desc-text fw-semibold txt-lighter opacity-80 fs-6 small">${mediaObj.files[0].type} | ${ bytesToMegabytes.toFixed(1) }Mo ... </span>
            </div>
             </div>
           </div>
           </div>
           
           
           <div class="footer mt-4 d-flex justify-content-center align-items-center" :item-hidden="mediaFileUploaded == true ? false : true">
            <button class="btnUpload btn btn-primary fs-6 fw-semibold rounded rounded-3 m-1" id="btnUploader" :disabled="isFileUploading">Generate Lyrics <span class="bi bi-circle-square ms-1"></span></button>
           <button class="btnCancel btn btn-dark fs-6 fw-semibold rounded rounded-3 m-1" id="btnCancel" @click="cancelAiGeneration" :disabled="isFileUploading">Cancel <span class="bi bi-trash3 ms-1"></span></button>
           </div>
       </div>
    </div>


    <script> 
    // set_default

      const app = createApp({
           delimiters: ["${", "}"],
           data(){
            return {
                mediaFileUploaded: false,
                isFileUploading: false, 
                mediaObj: null
            }
           },
           methods: {
              toggleFilePicker(){
                 // Media_File_Input_Form
                 this.$refs.fileObj.click();
              },
              onMediaFileSelection(obj){
                // Validate_and_filter_form_data
                  // activateAiGeneration
                   this.mediaObj = obj.target;  
                   this.mediaFileUploaded = true; 
                    
              },
              cancelAiGeneration(){
                this.mediaFileUploaded = false;
                this.isFileUploading = false;
                this.mediaObj = null; 
                this.$refs.fileObj.value = ""; 
              } 
           },
           computed: {
            bytesToMegabytes() {
            return this.mediaObj.files[0].size / (1024 * 1024);
              }  
           }
       });

       app.mount("#viewApp");

    </script>
{% endblock %}